<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Movies link -->
      <a class="navbar-brand" routerLink="/">Movies</a>
      <a class="navbar-brand" routerLink="/admin" *ngIf="authService.isAdmin()" >Admin</a>
      <a class="navbar-brand" routerLink="/admin/auditorium/1" *ngIf="authService.isAdmin()" >IMAX</a>
      <a class="navbar-brand" routerLink="/admin/auditorium/2" *ngIf="authService.isAdmin()" >4DX</a>
      <a class="navbar-brand" routerLink="/admin/auditorium/3" *ngIf="authService.isAdmin()" >3D</a>

      <!-- Toggle button for mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar content -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <!-- Sign In -->
          <li *ngIf="!authService.isAuthenticated()" class="nav-item">
            <a class="nav-link" routerLink="/sign-in" [queryParams]="{ redirectUrl: getReturnUrl() }">Sign In</a>
          </li>
          <li *ngIf="authService.isAuthenticated()" class="nav-item">
            <a class="nav-link" (click)="authService.logout()">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<router-outlet />
